<!DOCTYPE html>
<html>
  <head>
    <title>Simple Group Chat on Node.js</title>
    <style>

    </style>
    <link rel="stylesheet" href="/css//minified/style.css" />
  </head>
  <body>
    <%- include('navigation') %>