<%- include('partials/head') %>
<div class="content">
  <h1>What room do you want to join?</h1>
  <form action="chat" method="POST">
    <select id="category" name="category">
      <option value="action">Action</option>
      <option value="comedy">Comedy</option>
      <option value="horror">Horror</option>
      <option value="history">History</option>
      <option value="western">Western</option>
      <option value="animation">Animation</option>
      <input type="submit" value="Join room">
    </select>
  </form>
</div>
<%- include('partials/footer') %>