<%- include('partials/head') %>
<div>
  <ul id="users"></ul>
</div>

<ul id="messages"></ul>

<div class="forms">
<form action="/" method="POST" id="answerForm">
  <div>
    <input type="radio" id="a" name="answer" value="a">
    <label for="a">Antwoord a</label><br>
  </div>
  <div>
  <input type="radio" id="b" name="answer" value="b">
  <label for="b">Antwoord b</label><br>
</div>
  <div>
  <input type="radio" id="c" name="answer" value="c">
  <label for="c">Antwoord c</label><br>
</div>
<button>Send answer</button>
</form>

<form action="/" method="POST" id="chatForm">
  <input id="txt" autocomplete="off" autofocus="on" placeholder="type your message here..." /><button>Send</button>
</form>
</div>
<script defer src="/socket.io/socket.io.js"></script>
<script defer src="/js/main.js"></script>
<%- include('partials/footer') %>