<%- include('partials/head') %>
<div>
  <ul id="users"></ul>
</div>
<h1> Room = <span id="<%= category %>" class="catogory"> <%= category %></span></h1>
<ul id="messages"></ul>

<div class="forms">
<form action="/" method="POST" id="answerForm">
  <div>
    <label for="a">Antwoord a
      <input type="radio" id="a" name="answer" value="a">
    </label><br>
  </div>
  <div>
    <label for="b">Antwoord b
      <input type="radio" id="b" name="answer" value="b">
    </label><br>
  </div>
  <div>
    <label for="c">Antwoord c
      <input type="radio" id="c" name="answer" value="c">
    </label><br>
  </div>
<button>Send answer</button>
</form>

<form action="/" method="POST" id="chatForm">
  <input id="txt" autocomplete="off" autofocus="on" placeholder="type your message here..." /><button>Send</button>
</form>
</div>
<script defer src="/socket.io/socket.io.js"></script>
<script defer src="/js/main.js"></script>
<%- include('partials/footer') %>