<%- include('partials/head') %>
<div class="content">
  <h1>Welcome to the movie quiz</h1>
  <p>head over to <a class="link" href="/category">chat</a> and choose the catogory of your liking!</p>
</div>
<%- include('partials/footer') %>