<%- include('partials/head') %>
		<div class="join-container">
			<header class="join-header">
				<h1>Real time chat</h1>
				<p> Each group has a forbidden word, use that and the chat ends </p>
				<p> For movies, have a look at <a href="/movies">Possible movies</a></p>
			</header>
			<main class="join-main">
				<form action="chat.html">
					<div class="form-control">
						<label for="username">Username</label>
						<input
							type="text"
							name="username"
							id="username"
							placeholder="Enter username..."
							required
						/>
					</div>
					<div class="form-control">
						<label for="room">Room</label>
						<select name="room" id="room">
							<option value="Games">Games</option>
							<option value="Cars">Cars</option>
							<option value="JavaScript">JavaScript</option>
							<option value="Formula 1">Formula 1</option>
						</select>
					</div>
					<button type="submit" class="btn">Join Chat</button>
				</form>
			</main>
		</div>

<%- include('partials/footer') %>
