* { margin: 0; padding: 0; box-sizing: border-box; }
body {
    background-color: var(--dark);
    background-color: #000;
    background-image: url("https://wallpaperaccess.com/full/210201.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--light);
    font-family: monospace;
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0;
    color: var(--light);
  }
form { background: #fff; padding: 3px; position: fixed; bottom: 0; width: 100%; border-color: #000; border-top-style: solid; border-top-width: 1px;}
form input { border-style: solid; border-width: 1px; padding: 10px; width: 85%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; margin-left: 2%; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
.server{ 
    color: var(--server);
    background-color: var(--rgba-black);
    padding: 1em;
 }