h1{ color: red;}

:root {
	--light: #fff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
	--dark: #000;
	--server: #00A94B;
	--rgba-black: rgba(0,0,0,0.5);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.link{
	color: var(--light);
	font-weight: 600;
}

.content {
    width: 80%;
	margin: auto;
	text-align: center;
}
.content form input {
	width: 15%;
	margin: 0 20px;
}
.content form {
    margin: auto;
    background-color: unset;
    border: none;
    justify-content: center;
}


.content form {
    margin: auto;
}

body{ 
    margin: 150px 0;
}
nav {
    position: fixed;
    top: 0;
	width: 100%;
	background: var(--dark);
	border: 2px solid var(--light);
}
nav li{
	list-style: none;
}
nav li a{
	color:  #fff;
}

.header__nav {
	display: flex;
}

nav li {
    padding: 1em;
}


